<material-toolbar class="material-theme-dark" layout-order-lg="1">
  <h2 class="material-toolbar-tools">
    <material-button class="material-theme-dark" ng-click="back()"><i class="fa fa-chevron-left"></i> New Suggestion</material-button>
    <span flex></span>    
    <material-button class="material-theme-dark" ng-click="completeAddEvent()">
      <i class="fa fa-envelope"></i>
    </material-button>
  </h2>
</material-toolbar>

<div id="new-suggestion-content" layout="vertical" layout-order-lg="3" flex layout-padding>
    <div id="search-controls" ng-hide="flags.isBack" ng-class="{ 'controls-hidden': flags.isSearching }">      
      <material-input-group ng-disabled="isDisabled" class="search-field-group ">
        <label>Keywords...</label>
        <material-input type="text"></material-input>
      </material-input-group>    
      
       <div id="price-input-group" layout>
        <div flex="15" layout layout-align="left center">
          <span class="price-label">Price</span>
        </div>
        <material-slider flex ng-model="color.blue" min="10" max="200" aria-label="blue" id="blue-slider">
        </material-slider>
        <div flex="15" layout layout-align="center center">
          $<input type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider" class="price-input">
        </div>
      </div>

      <material-input-group ng-disabled="isDisabled" class="search-field-group ">
        <label>Enter area...</label>
        <material-input type="text" ng-model="search.area" ng-click="selectArea($event)" ng-readonly="true"></material-input>
      </material-input-group>

      <material-content></material-content>
    </div>
    
    <material-button id="search-button" ng-click="searchPlace()" class="material-button-colored material-theme-dark">
      <span>{{flags.searchLabel}}</span>
    </material-button>
    
    <div layout ng-show="flags.isSearching && !flags.searchDone" layout-align="center center">      <material-linear-progress mode="indeterminate" class="search-progress"></material-linear-progress>      
    </div>

    <material-divider ng-show="flags.searchDone"></material-divider>    
    <material-content id="results-area" flex ng-show="flags.searchDone"> 
      <material-subheader>Found 2 places:</material-subheader> 
      <material-card ng-repeat="result in results" class="search-results" layout="vertical" ng-click="showDetails()">
        <div class="image-wrapper"
          ng-style="{'background-image':'url(' + result.imageUrl + ')'}">
        </div>
        <div class="result-content" layout="horizontal" layout="center center">
          <div flex>            
            <h3>{{result.name}}</h3>
            <p class="result-content address">
              <i class="fa fa-map-marker extra-padding"></i> {{result.address}}
            </p>
          </div>
          <div class="ratings-wrapper">            
            <h3 class="ratings">{{result.ratings}}</h3>
            <span class="ratings-label">stars</span>
          </div>
        </div>        

        <material-button class="suggestion-btn">
          Make suggestion
        </material-button>
      </material-card>      
    </material-content>
</div>