<material-card layout="horizontal" class="event-card" ng-click="viewEvent()">
  <div flex="30" class="date-block" layout-align="center">
    <h1>{{getDate() | date: 'd'}}</h1>
    <p ng-show="getDate() !== '-'">{{getDate() | date: 'MMMM'}}</p>
    <p ng-hide="getDate() !== '-'">{{'Undecided'}}</p>
  </div>
  <div class="event-details" layout="vertical" layout-align="left center" flex>
    <h3>{{details.title}}</h3>
    <p>Organized by: You</p>
  </div>

  <material-button class="delete-btn" ng-click="delete($event)">
    <i class="fa fa-times"></i>
  </material-button>
</material-card>