#mini-count {
  font-size: 8px;
  position: absolute;
  padding-top: 2.5px;
  padding-left: 1px;
  top: 2px;
  right: 2px;
  background-color: #e51c23;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  z-index: 5;
}

.theme-grey {
  background-color: rgba(0,0,0,0.1);

  material-button {
    background-color: transparent;    
  }
}

#event-info-card {
  background-color: white;
  min-height: 175px;
  padding: 0px;
  border-radius: 5px;

  .info-btn {
    font-weight: 300;
    font-size: 13px;
    background-color: transparent;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: none;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    color: #3f51b5 !important;

    .fa {
      color: rgba(0,0,0,0.7);
      display: inline-block;
      width: 30px;
      margin-right: 10px;
    }

    .fa-chevron-right {
      float: right;
      width: auto;
      margin-right: 0px;
      margin-top: 5px;
    }

    button {      
      text-align: left;
    }
  }

  .info-btn:nth-child(2) {
    margin-bottom: 2px;
  }
}


#event-page-content {
  background-color: rgba(0,0,0,0.05);
  
  .material-subheader {
    background-color: transparent;
    color: #3f51b5 !important;
  }

  .empty-placeholder {
    color: rgba(0,0,0,0.5);
    background-color: white;
  }

  .location-card {
    background-color: white;
    min-height: 125px;
  }

  .activity-card {
    background-color: white;
    min-height: 125px;
    
    .icon {
      width: 125px;
      text-align: center;
      border-right: solid rgba(0,0,0,0.12) 1px;

      h3 {
        background-color: #3f51b5;
        border-radius: 25px;
        // border: solid #03a9f4 2px;
        width: 50px;
        color: white;
        height: 50px;
        font-size: 18px;
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .icon.warning {
      h3 {
        background-color: #e91e63;
      }
    }

    .details.warning {
      .label.label-default {
        color: #e91e63;
        border: solid 1px #e91e63;
      }

      material-button {
        color: #e91e63;
      }
    }

    .details {
      text-align: center;
      padding-left: 20px;
      material-button {
        text-transform: none;
        background-color: transparent;
        color: #3f51b5;

        button {
          font-weight: 300;
          font-size: 12px;
        }
      }

      p {
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        // padding-left: 7.5px;
        margin-bottom: 7.5px;

        .label {
          margin-top: 10px;
          font-size: 10px;          
        }

        .label.label-default {
          background-color: transparent;
          color: #3f51b5;
          border: solid 1px #3f51b5;
          // border-radius: 10px;
          // padding-left: 5px;
          // padding-right: 7.5px;
        }
      }


      .place {
        button {
          font-size: 16px;
          font-weight: 500;
        }

        margin-bottom: 5px;
      }
    }
  }
}

.details-label {
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
  color: rgba(255,255,255,0.87);
}