<material-toolbar class="material-theme-dark" layout-order-lg="1" id="time-slot-toolbar">
  <h2 class="material-toolbar-tools">
    <material-button class="material-theme-dark" ng-click="back()"><i class="fa fa-chevron-left"></i> Choose Time</material-button>
    <span flex></span>    
    <material-button ng-show="flags.hide" class="material-theme-dark" ng-click="addTimeslot()">
      + New Time
    </material-button>
    
    <material-button ng-hide="flags.hide" class="material-theme-dark" ng-click="cancel()">
      Cancel
    </material-button>
  </h2>

  <div ng-hide="flags.hide" layout-padding class="material-toolbar-tools dark">
    <material-input-group ng-disabled="isDisabled" id="day-input">
      <label>Event Day</label>
      <material-input type="date" ng-model="timeslot.day" ng-click="chooseDate($event)" ng-readonly="true"></material-input>
    </material-input-group>  
  </div>

  <div ng-hide="flags.hide" layout-padding class="material-toolbar-tools dark">
    <material-input-group ng-disabled="isDisabled" id="time-input">
      <label>Event Time</label>
      <material-input type="text" ng-model="timeslot.time" ng-click="chooseTime($event)" ng-readonly="true"></material-input>
    </material-input-group>      
  </div>  

  <material-button ng-hide="flags.hide" ng-click="addNewTimeslot()" id="timing-btn" class="material-theme-light">  
    Suggest Timing
  </material-button>

  <div>
    <input type="date" ng-model="timeslot.day" id="hidden-date"/>
  </div>
</material-toolbar>

<div id="timeslot-content" ng-hide="flags.hideMain" layout="vertical" layout-order-lg="3" flex layout-padding>    
    <material-subheader>Indicate your availability</material-subheader>
    <material-content flex> 
      <material-card ng-repeat="timing in timings | orderBy: sortTime" layout="horizontal" layout-align="center center">
        <div flex class="details">          
          <h3>{{getDay(timing) | date: 'dd MMM yy'}} <small>({{getTime(timing)}})</small></h3>
          <p>{{getTimeslotAvailable(timing)}} people available</p>
        </div>

        <material-button class="no-btn" ng-class="{'active': getUserAvailability(timing) === -1 }" ng-click="setAvailability(timing, 'no')">
          <!-- <i class="fa fa-times-circle-o"></i> -->
          No
        </material-button>
        <material-button class="yes-btn" ng-class="{'active': getUserAvailability(timing) === 1 }" ng-click="setAvailability(timing, 'yes')">
          <!-- <i class="fa fa-check-circle-o"></i> -->
          Yes
        </material-button>
      </material-card>
    </material-content>
</div>