#timing-btn {
  margin-top: 40px;  
  margin-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}

#hidden-date {
  opacity: 0;
  position: absolute;
  top: -50px;
  left: 0px;
}

#time-slot-toolbar {
  transition: all 0.4s ease-in-out;
  transform: translate3d(0,0,0);
}

#time-slot-toolbar.unhide {
  min-height: 100vh;
}

#day-input {
  margin-top: -5px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  transform: translate3d(0,0,0);
  
  label {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
  }

  input {    
    width: 100%;    
    border-color: rgba(255,255,255,0.5);
  }
}

#time-input {
  margin-top: 20px;
  display: block;
  width: 100%;
  transform: translate3d(0,0,0);
  
  label {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
  }

  input {
    width: 100%;    
    border-color: rgba(255,255,255,0.5);
  }
}

#day-input.material-input-focused {
  input {
    border-color: #4fc3f7;
  }

  label {
    color: #4fc3f7;
  }
}

#time-input.material-input-focused {
  input {
    border-color: #4fc3f7;
  }

  label {
    color: #4fc3f7;
  }
}

#timeslot-content {
  background-color: rgba(0,0,0,0.05);
  transform: translate3d(0,0,0);
  
  .material-subheader {
    background-color: transparent;
    color: #03a9f4;
  }

  material-card {
    transform: translate3d(0,0,0);
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    
    .details {
      padding-left: 15px;
    }
    
    .yes-btn,
    .no-btn {
      background-color: transparent;
      width: 40px;
      font-size: 14px;
      color: rgba(0,0,0,0.4);
    }

    .yes-btn.active {
      color: #2baf2b;
    }

    .no-btn.active {
      color: #e84e40;
    }
  
    h3 {
      margin-bottom: 10px;

      small {
        margin-left: 5px;
        text-transform: capitalize;
      }
    }

    p {
      font-size: 12px;      
    }
  }
}

#choose-time-modal {
  material-button {
    background-color: transparent;
    height: 50px;
  }

  .close-btn {
    margin-top: 15px;    
    color: #03a9f4;
  }
}

#choose-time-dialog {
  margin-top: 150px;
}