<material-toolbar class="material-theme-dark" layout-order-lg="1">
  <h2 class="material-toolbar-tools">
    <material-button class="material-theme-dark" ng-click="back()"><i class="fa fa-chevron-left"></i> Suggestions</material-button>
    <span flex></span>    
    <material-button class="material-theme-dark" ng-click="completeAddEvent()">
      <i class="fa fa-envelope"></i>
    </material-button>
  </h2>
</material-toolbar>

<div id="suggestions-list-content" layout="vertical" layout-order-lg="3" flex layout-padding>
  <material-input-group ng-disabled="isDisabled" class="search-field-group ">
    <label>Filter suggestions...</label>
    <material-input type="text" ng-model="search.details.name"></material-input>
  </material-input-group>

  <material-content flex>
    <material-card ng-repeat="suggestion in suggestions | orderBy: sortVotes | filter: search" class="suggestion-card" layout="vertical">
      <div layout="horizontal" layout-align="center center" layout-padding class="title-bar">
        <div class="num-label-wrapper">
          <h3 class="num-label">{{$index + 1}}</h3>
        </div>
        <h3 class="place-name" flex>{{suggestion.details.name}}</h3>
      </div>
      <div class="image-wrapper" 
        ng-style="{'background-image':'url(' + suggestion.details.imageUrl + ')'}">
      </div>
      <div layout-padding>
        <material-button class="votes-btn" ng-click="openOverlay()">
          <strong>{{getVotes(suggestion)}} votes</strong>
          <strong>5 comments</strong>
        </material-button>
      </div>

      <div layout="horizontal">
        <material-button class="suggestion-btn vote-up" ng-class="{'voted': suggestion.userVote.$value > 0}" flex ng-click="upVote(suggestion)">
          <i class="fa fa-chevron-up"></i> Vote Up
        </material-button>

        <material-button class="suggestion-btn vote-down" ng-class="{'voted': suggestion.userVote.$value < 0}" flex ng-click="downVote(suggestion)">
          <i class="fa fa-chevron-down"></i> Vote Down
        </material-button>
      </div>
    </material-card>
  </material-content>
</div>

<material-content id="comments-overlay" layout="vertical">
  <div layout="horizontal" class="like-bar" layout-align="left center">
    <material-button flex>
      <i class="fa fa-thumbs-o-up"></i>
      5 voted up
    </material-button> 
    <material-button flex>
      <i class="fa fa-thumbs-o-down"></i>
      5 voted down
    </material-button>    
    <material-button class="close-btn" ng-click="closeOverlay()">
      <i class="fa fa-close"></i>
    </material-button>
  </div>

  <material-divider></material-divider>
  <material-content flex>
    
  </material-content>
  <div class="comment-bar" layout="horizontal">
    <div layout-padding flex>
      <input type="text" placeholder="Enter your comment..." />      
    </div>
    <material-button class="send-btn material-theme-dark">
      <i class="fa fa-paper-plane"></i>
    </material-button>
  </div>
</material-content>